@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-6ozcs3');
	src:url('fonts/icomoon.eot?#iefix-6ozcs3') format('embedded-opentype'),
		url('fonts/icomoon.woff?-6ozcs3') format('woff'),
		url('fonts/icomoon.ttf?-6ozcs3') format('truetype'),
		url('fonts/icomoon.svg?-6ozcs3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="uds_ico-"], [class*=" uds_ico-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uds_ico-social-pinterest:before {
	content: "\e600";
}

.uds_ico-pinterest:before {
	content: "\e601";
}

.uds_ico-linkedin:before {
	content: "\e602";
}

.uds_ico-facebook:before {
	content: "\e603";
}

.uds_ico-youtube:before {
	content: "\e604";
}

.uds_ico-facebook-square:before {
	content: "\f082";
}

.uds_ico-twitter:before {
	content: "\f099";
}

.uds_ico-facebook2:before {
	content: "\f09a";
}

.uds_ico-pinterest-square:before {
	content: "\f0d3";
}

.uds_ico-youtube2:before {
	content: "\f167";
}

.uds_ico-instagram:before {
	content: "\f16d";
}

.uds_ico-vk:before {
	content: "\f189";
}


#uds_float_social{
position: relative;
    text-align: center;
}

#uds_float_social a {
	margin-bottom: 2px;
    display: list-item;
    height: 42px;
    color: #fff;
    list-style-type: none;
    position: relative;
    width: 42px;
    text-decoration: none !important;
}

#uds_float_social .top-left {
    left: 0;
    position: fixed;
    top: 30%;
}
#uds_float_social .top-right {
    right: 0;
    position: fixed;
    top: 20%;
}

.uds_fs_fbbg{
	background-color: #3b5998;
	color: #fff;
	font-size: 25px;
}

.uds_fs_vkbg{
	background-color: #5178a1;
	font-size: 25px;
}

.uds_fs_instbg{
	background-color: #84624d;
	font-size: 26px;
}

.uds_fs_pibg{
	background-color: #c92228;
	font-size: 27px;
}